# Node modules
/node_modules

# Build output
/build
/dist

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# Editor directories and files
.idea/
/.vscode/
*.swp

# Production build artifacts
/static