.RestaurantCard {
    height: 390px;
    width: 220px;
    background-color: #f5f2f2;
    margin: 8px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent; /* Set initial border */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.RestaurantCard:hover {
    cursor: pointer;
    border: 1px solid black; /* Border is already set, preventing layout shift */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

.RestaurantCard img {
    height: 130px;
    width: 100%;
    border-radius: 10px;
}
